<footer class="site-footer">
    <div class="container" style="padding-left: 0px;">
        {% block footer_content %}
        <div class="blockFooter">
            {% block footer_nav %}
            <div class="bgFooterTop">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row" style="display: flex;">
                                        <div style="vertical-align:top" class="column"><em
                                                class="fa fa-map-marker iconFooter"></em></div>
                                        <div style="vertical-align:top" class="column">{{
                                            h.render_markdown(g.site_org_address) }}</div>
                                    </div>
                                </div>

                                <div class="col-md-12 col-sm-12 col-xs-12 mt-1">
                                    <div class="row" style="display: flex;">
                                        <div style="vertical-align:top" class="column"><em
                                                class="fa fa-phone iconFooter"></em></div>
                                        <div style="vertical-align:top" class="column">{{
                                            h.render_markdown(g.site_org_contact) }}</div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 mt-1">
                                    <div class="row" style="display: flex;">
                                        <div style="vertical-align:top" class="column"><em
                                                class="fa fa-envelope iconFooter"></em></div>
                                        <div style="vertical-align:top" class="column">{{
                                            h.render_markdown(g.site_org_email) }}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="row">
                                {% block footer_attribution %}
                                <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                    <span>
                                        จำนวนผู้เข้าชม <span class="totalVisitor">111</span>
                                    </span>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12 text-right mt-1">
                                    {{ h.render_markdown(g.site_policy_link) }}
                                </div>

                                {% block footer_lang %}
                                {% snippet "snippets/language_selector.html" %}
                                {% endblock %}
                                {% endblock %}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
    </div>
</footer>
<style>
    .close-cookies {
        text-align: right;
        position: absolute;
        top: 0px;
        right: 40px;
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
    }

    .txt-cookie {
        color: black;
        font-weight: bold;
    }

    .myDiv {
        background-color: rgb(181, 180, 180);
        opacity: 0.9;
        text-align: center;
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        padding: 10px;
        color: white;
        z-index: 1;
    }
</style>
<div id="cookieNotice" class="myDiv" style="display: none;">
    <div id="closeIcon" style="display: none;">
    </div>
    <div class="content-wrap">
        <div class="msg-wrap">
            <p class="txt-cookie">เว็บไซต์นี้ใช้ "คุกกี้"
                เพื่อวัตถุประสงค์ในการพัฒนาการเข้าถึงบริการของผู้ใช้ให้ดียิ่งขึ้น หากต้องการเปิดใช้งานคุกกี้ โปรดคลิก
                "ยอมรับคุกกี้"</p>
            <p class="txt-cookie">คุณสามารถถอนการยินยอมของคุณได้ตลอดเวลา โดยไปที่ "การตั้งค่าคุกกี้"</p>
            <div class="btn-wrap">
                <button class="btn-primary" onclick="acceptCookieConsent();">ยอมรับคุกกี้</button>
            </div>
            <div class="close-cookies" onclick="closeCookieConsent();">x</div>
        </div>
    </div>
</div>